extends layout

block content
    div(class="menu")
      div(class="values")
        div(id="city")
        table(class="information")
          tr
            td
              Weather
            td
              div(id="")
          tr
            td
              Temperature
            td
              div(id="temp")
        button(id="more_information") Click for more information
        table(class="more_information")
          tr
            td
              Wind speed
            td 
              div(id="wind_speed")
          tr
            td
              Wind direction
            td
              div(id="wind_direction")
          tr
            td
              Pressure
            td
              div(id="pressure")
          div(class="input")
            label(for="city")
              City
            input(id="weather_city", type="text", name="city")
            label(for="units")
              Units
            input(id="units_metric", type="radio", name="units", value="metrics") 
            input(id="units_imperial", type="radio", name="units", value="imperial")
            button(id="change", type="submit") Search
