doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/node_modules/bootstrap/dist/css/bootstrap.css')
    
    script(type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js')
    script(type='text/javascript' src='/javascripts/Weather.js')
  body
    block content
    a(href="/") Back to the homepage